doctype html
html
  title= betreff
  meta(charset='utf-8')
  link(href='../styles/letter.css', rel='stylesheet')
body
  h1= betreff

  //- Absender
  p.absender
    | #{absender.vorname} #{absender.nachname}<br>
    | #{absender.strasse} #{absender.hausnummer}<br>
    | #{absender.plz} #{absender.stadt}

  //- Empfänger
  if empfaenger.nachname
    p.empfaenger
      | #{empfaenger.vorname} #{empfaenger.nachname}<br>
      | #{empfaenger.strasse} #{empfaenger.hausnummer}<br>
      | #{empfaenger.plz} #{empfaenger.stadt}
  else
    p.empfaenger
      | #{empfaenger.firma}<br>
      | #{empfaenger.strasse} #{empfaenger.hausnummer}<br>
      | #{empfaenger.plz} #{empfaenger.stadt}

  //- Datum
  div.datum
    | #{datum}

  //- Inhalt
  div.content!= content